h1{
    margin: 10%;
    text-align: center;
    padding: 5%;
    color:black;
    border: 5px;
    border-style: dotted;
    border-color: black;
    
}

p{
    color: black;
    font-size: larger;
    text-align: left;
    
}

button{
    margin: 5px;
    color: white;
    background-color: skyblue;
    cursor: pointer;
    font-size: larger;
    border: 5%;
    border-radius: 15%;
    border-color: aqua;

}